<div class="flex gap-4 flex-wrap items-center justify-center">
    @if (!scrims.length) {
    <div class="alert alert-info">
        Aucune journée de scrims disponible.
    </div>
    } @else {
    @for (scrim of scrims; track scrim.dateIso) {
    <div class="card w-128 bg-base-100 card-lg shadow-sm">
        <div class="card-body">
            <div class="">
                <div class="flex justify-between items-center">
                    <h2 class="card-title">{{ scrim.displayDate }}</h2>
                    <div class="badge badge-soft" [ngClass]="getSuccessClass(scrim)">{{ scrim.score }}</div>
                </div>

                <div class="text-sm opacity-70">{{ scrim.teams?.a?.name }} @if (scrim.teams?.b) { vs <b>{{
                        scrim.teams?.b?.name }}</b> }</div>

            </div>

            <ul class="list bg-base-100 rounded-box shadow-md">

                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Matchs</li>

                @for (matchRecap of scrimMatchsRecaps[scrim.dateIso]; track matchRecap.id) {
                <li class="list">
                    <div class="collapse collapse-arrow bg-base-100 border border-base-200">
                        <input type="checkbox" />
                        <div class="collapse-title flex items-center justify-between gap-4">
                            <div class="">Match {{ matchRecap.id.slice(11, 13) }} <div
                                    class="badge badge-soft font-semibold mr-2 ml-2"
                                    [ngClass]="{ 'badge-info': isBlueVictory(matchRecap), 'badge-error': !isBlueVictory(matchRecap) }">
                                    {{
                                    getWinningSideName(matchRecap) }} Win </div> {{ getMatchDuration(matchRecap) }}
                            </div>
                        </div>
                        <div class="collapse-content">
                            <div class="mt-6 mb-4 text-sm flex items-center justify-between">
                                <div>
                                    <div class="badge badge-outline badge-sm">
                                        {{ getTeamNameBySide(matchRecap, 0)}}
                                    </div>
                                    <span class="text-xs text-info uppercase opacity-70 ml-6">Blue Side</span>
                                </div>
                                <div class="badge badge-soft"
                                    [ngClass]="{ 'badge-success': isBlueVictory(matchRecap), 'badge-error': !isBlueVictory(matchRecap) }">
                                    {{ getSideOutcomeLabel(matchRecap, 0) }}</div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="table table-sm">
                                    <thead>
                                        <tr class="text-sm uppercase opacity-60">
                                            <th scope="col">Joueur</th>
                                            <th scope="col">Champion</th>
                                            <th class="text-right" scope="col">KDA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (player of getPlayersBySide(matchRecap, 1); track player.id) {
                                        <tr>
                                            <td>{{ player.name }}</td>
                                            <td>{{ player.champ }}</td>
                                            <td class="grid grid-cols-5 items-center text-center w-28 p-0 float-right">
                                                <span>{{ player.k }}</span>
                                                <span class="text-xs opacity-30">/</span>
                                                <span class="text-error opacity-70">
                                                    {{ player.d }}</span>
                                                <span class="text-xs opacity-30">/</span>
                                                <span>{{ player.a }}</span>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="mt-6 mb-4 text-sm flex items-center justify-between">
                                <div>
                                    <div class="badge badge-outline badge-sm">
                                        {{ getTeamNameBySide(matchRecap, 1)}}
                                    </div>
                                    <span class="text-xs text-error uppercase opacity-70 ml-6">Red Side</span>
                                </div>
                                <div class="badge badge-soft"
                                    [ngClass]="{ 'badge-success': !isBlueVictory(matchRecap), 'badge-error': isBlueVictory(matchRecap) }">
                                    {{ getSideOutcomeLabel(matchRecap, 1) }}</div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="table table-sm">
                                    <thead>
                                        <tr class="uppercase opacity-80 text-xs">
                                            <th scope="col">Joueur</th>
                                            <th scope="col">Champion</th>
                                            <th class="text-right" scope="col">KDA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (player of getPlayersBySide(matchRecap, 1); track player.id) {
                                        <tr>
                                            <td>{{ player.name }}</td>
                                            <td>{{ player.champ }}</td>
                                            <td class="grid grid-cols-5 items-center text-center w-28 p-0 float-right">
                                                <span>{{ player.k }}</span>
                                                <span class="text-xs opacity-30">/</span>
                                                <span class="text-error opacity-70">
                                                    {{ player.d }}</span>
                                                <span class="text-xs opacity-30">/</span>
                                                <span>{{ player.a }}</span>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
    }
    }
</div>